.stat-container {
  color: #515151;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  height: 20px;

  .icon-container {
    background: #FF9800;
    border-radius: 50%;
    display: flex;
    height: 20px;
    justify-content: center;
    width: 20px;

    span {
      color: white;
      font-size: 12px;
      position: relative;
      top: 4px;
    }
  }
  .label {
    align-self: center;
    font-weight: 600;
    margin-left: 1rem;
  }
  .constant-container {
    background: #FF9800;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-left: 8px;
    width: 100px;
    height: 20px;
    
    .constant {
      align-self: center;
      color: #ffffff;
      font-weight: 100;
      text-align: center;
    }
  }
}