.card {
  background: #F7F7F7;
  box-shadow: 0 4px 18px rgba($color: #000000, $alpha: 0.15);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #686868;
  width: 100%;

  .header {
    display: flex;
    background: #ffffff;
    font-size: 0.8125rem;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    width: 100%;

    label {
      align-self: center;
    }
  }
  .body {
    width: 100%;
  }
}