@import '../../../../../node_modules/weather-icons-npm/css/weather-icons.css';

.observation {
  color: #686868;
  display: flex;
  min-height: 484px;
  max-height: fit-content;
  min-width: 10px;
  max-width: 542px;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    width: 100%;

    .temps-container {
      text-align: center;
      display: flex;
      flex-direction: column;

      .label {
        font-size: 14px;
        font-weight: bold;
      }
      .temps {
        align-items: center;
        display: flex;
        justify-content: space-around;

        .low, .high {
          font-size: 20px;
        }
        .current {
          color: #0276AA;
          font-size: 58px;
          left: 2px;
          position: relative;
          span {
            font-size: 25px;
            position: relative;
            top: -23px;
          }
        }
      }
      .icon {
        align-self: center;
        color: #0276AA;
        font-size: 80px;
        margin-top: 12px;
      }
      .summary {
        color: #0276AA;
        font-size: 14px;
        font-weight: bold;
        margin-top: 2.1rem;
      }
    }
    .line-break {
      margin-top: 2rem;
      border: 0.5px solid #E3E3E3;
    }
    .details-container {
      display: flex;
      flex-wrap: wrap;
      height: fit-content;
      margin-top: 1.3rem;
      width: 100%;

      .datail {
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        width: 100%;

        .stat-container {
          padding: 10px 0;
          width: 238px;
        }
      }
    }
  }

}

.dewpoint { 
  background: #009688 !important;
}
.humidity { 
  background: #3F51B5 !important;
}
.pressure { 
  background: #F44336 !important;
}
.visibility { 
  background: #9C27B0 !important;
}
.wind { 
  background: #00BCD4 !important;
}