.conditions {
  margin: 1rem 0;
  .tabs-container  {
    .tabs {
      background: #ffffff;
      color: #686868;
    }
  }
}
.PrivateTabIndicator-colorSecondary-27 {
  background-color: #0276AA !important;
}