.map-container {
  height: 540px;
  margin: 1rem 0;
  overflow: hidden;
  width: 542px;
  z-index: 10;
}
.map-view-container {
  height: 540px;
  overflow: hidden;
  width: 542px;
}

#map {
  width: 100%;
  height: 100%;
  position: relative;
  top: -20px;
}